{% extends 'base.html' %}

{% block contenido %}
	<div>
		<div>
		<h1>PRDOCUTOS DISPONIBLES </h1>
		FILTRAR POR RUBRO:
		{% for r in rubros %}
			<a href="{% url 'productos:path_filtrados_rubro' r.pk %}"> {{r.nombre}} </a>
		{% endfor %}
		<br>
		<a href="{% url 'productos:path_crear_producto' %}">CREAR PRODUCTO</a>
		</div>
		{% for p in productos %}
			<ul style="display: inline-block;">
				<a href="{% url 'productos:path_detalle_producto' p.pk %}">
					<img src="{{ p.imagen.url }}" width="200">
				</a>
				<li>{{p.nombre}}</li>
				<li>{{p.precio}}</li>
				<li>{{p.rubro}}</li>
				<li>{{p.stock}}</li>
			
			<li><a href="{% url 'productos:path_detalle_producto' p.pk %}">Detalle</a></li>
			<li><a href="{% url 'productos:path_modificar_producto' p.pk %}">Modificar</a></li>
			<li><a href="{% url 'productos:path_eliminar_producto' p.pk %}">Eliminar</a></li>
			</ul>
		{% endfor %}

	</div>	
{% endblock contenido %}
